/* This is a CSS file */
/* ... */
#order-history-page .row.order .order-detail .order-detail-item {
  border-top: 1px solid #D1D1D1;
}

#order-history-page .row.order .order-detail .order-detail-item:first-child {
  border-top: none;
}

#order-history-page .row.order:first-child {
  border-top: 1px solid #D1D1D1;
}

/* Order Detail Page */

#order-detail-page .order-detail, #order-detail-page .order-header {
  padding: 0 15px;
}

#order-detail-page .order-detail .row {
  min-height: 40px;
  background-color: white;
  border-bottom: 1px solid #D1D1D1;
}

#order-detail-page .order-detail .row div {
  padding-top: 10px;
  padding-bottom: 10px;
}

#order-detail-page .order-header {
  border-bottom: 1px solid #D1D1D1;
}

/* Cost Summary */

.cost-summary {
  padding: 15px;
  font-size: 16px;
}

.cost-summary hr {
  margin: 10px 0;
}

.cost-summary .cost-value {
  text-align: right;
  font-weight: bold;
}

.cost-summary .total {
  font-size: 18px;
  padding-bottom: 15px;
}

.cost-summary .total .cost-header {
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .cost-summary {
    background-color: #FFFFFF;
  }
}






